
.idea/.idea.Demo.DurableFunctions/.idea/

.DS_Store

Demo.DurableFunctions.Core/obj/Debug/netcoreapp3.1/

Demo.DurableFunctions.Core/obj/

Demo.DurableFunctions.Core/bin/Debug/netcoreapp3.1/

Demo.DurableFunctions.Infrastructure.DataAccess/bin/Debug/netcoreapp3.1/

Demo.DurableFunctions.Infrastructure.DataAccess/obj/Debug/netcoreapp3.1/

Demo.DurableFunctions.Infrastructure.DataAccess/obj/

Demo.DurableFunctions.Core.Application/bin/Debug/netcoreapp3.1/

Demo.DurableFunctions.Core.Application/obj/Debug/netcoreapp3.1/

Demo.DurableFunctions.Core.Application/obj/

Demo.DurableFunctions.Core.Domain/bin/Debug/netcoreapp3.1/

Demo.DurableFunctions.Core.Domain/obj/Debug/netcoreapp3.1/

Demo.DurableFunctions.Core.Domain/obj/
